@media screen and (max-device-width: 1000px) {
 　　　.column {
 　　　　　　float: none;
 　　　　　　width:auto;
 　　　}
 　　　#sidebar {
 　　　　　　display:none;
 　　　}
 }

body{
    /*width: 1080px;*/
    /*margin: auto auto;*/
/*    background: darkgrey;*/
}
img {
    width: 100px;
    height:100px;
    margin: 5px 5px;
    border-radius: 50%;  
}

#research img{
    width: auto;
    height: auto;
    margin: 5px 5px;
    border-radius: 0; 
}

p {
    margin: 10px 10px;
}

h2 {
    margin: 30px 40px;
    text-align: center;
}

.footer{

    /*width: 1080px;*/
    /*padding: 8px 10px;*/
    background: beige;
    /*border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;*/
    color: black;
    font-size: 12px;
    text-align: left;
    vertical-align:middle;
    clear: both;
}

.row {
     /*position: relative;*/
     margin: auto auto;
     /*background: red;*/
     /*top: -100px;*/
}

#people .img{
    text-align: left;
}

#particles {
    background: #16a085;
    /*width: 1080px;*/
    height: 300px;
    overflow: hidden;
    margin: auto auto;
    margin-bottom: -65px;
}

#index-h1 {
    position: relative;
    top: -100px;
    height: 100px;

}

@media (min-width:800px) {
    html {
        width: 1000px;
        margin: auto auto;
    }
}
