
 @media screen and (max-device-width: 1000px) {
    .column {
        float: none;
        width: auto;
    }
    #sidebar {
        display: none;
    }
}

body{
    /*width: 1080px;*/
    /*margin: auto auto;*/
/*    background: darkgrey;*/
}

#people img {
    width: 100px;
    height:100px;
    margin: 5px 5px;
}

#people h4{
    margin:0;
    font-size: medium;
    font-weight: bold;
}

#people .media-body{
    padding-left: 20px;
    padding-top: 5px;
}

.left{
    text-align: left;
    margin: 10px 5px;
}
.nav>li>a{
    padding: 5px 5px;
}
#PI-img{
    
    height: 290px;
}
#img-home {
    /*margin: auto 10px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}

/*#indexnav{
    top: -10px;
}*/

#research img{
    width: auto;
    height: auto;
    margin: 5px 5px;
    border-radius: 0; 
}

p {
    margin: 10px 10px;
    text-align:justify;
    text-justify:inter-ideograph;
}

li {
    text-align:justify;
    text-justify:inter-ideograph;
}
td{
    text-align:justify;
    text-justify:inter-ideograph;
}
h3 {
    margin: 10px 20px;
    text-align: center;
}
#teaching p {
    margin-left: 30px;
    margin-bottom: 20px;
}

h4{
     margin-left: 30px;
}

.h7 {
    font-size: 16px;
    text-align: center;
    margin: auto auto;
}

#publications h4{
    margin-left: 0;
}

.teaching li{
    margin: 20px 10px;
}

.footer{

    /*width: 1080px;*/
    /*padding: 8px 10px;*/
    background: beige;
    /*border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;*/
    color: black;
    font-size: 12px;
    text-align: left;
    vertical-align:middle;
    clear: both;
}

.row {
     /*position: relative;*/
     margin: auto auto;
     /*background: red;*/
     /*top: -100px;*/
}

#people .img{
    text-align: left;
}

#particles {
    background: #16a085;
    /*width: 1080px;*/
    height: 300px;
    overflow: hidden;
    margin: auto auto;
    margin-bottom: -65px;
}

#index-h1 {
    position: relative;
    top: -100px;
    height: 100px;

}

@media (min-width:800px) {
    html {
        width: 1000px;
        margin: auto auto;
    }
}
@media (max-width:600px) {
   #PI-img{
    
    height: 150px;
}
}
